#flor-1 {
    width: 100%;
}

#home {
    width: 100%;
    display: flex;
}

.container-home-left {
    width: 40%;
}

.container-home-mid {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}

.container-home-mid-title h1 {
    font-family: 'Lilita One', sans-serif;
    font-size: 30px;
    color: #BB91DC;
}

.container-home-mid-title h2 {
    margin-top: 20px;
    font-size: 20px;
    padding-bottom: 50px;
}

.barrinha-colorida {
    width: 100%;
    height: 8px;
    background: linear-gradient(to left, rgba(255, 192, 215, 1), rgba(180, 35, 255, 1),
            rgba(187, 145, 220, 1), rgba(255, 192, 215, 1))
}

.container-home-mid-a {
    padding-top: 30px;
}

.container-home-mid-a a {
    font-size: 20px;
    padding: 5px 0;
    margin-right: 50px;
}

.container-home-mid-a a:hover {
    color: #DD77D3;
    font-weight: 800;
    transition: 0.1s;
    border-bottom: 3px solid #DD77D3;
}

.container-home-rigth {
    width: 30%;

}

.container-home-rigth div {
    display: flex;
    flex-direction: column;
}

#bea {
    padding-top: 20px;
    width: 230px;
    align-self: center;
}
