@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
    border: none;

    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
}

body {
    width: 100%;
    background-color: white;
    /* margin-top: 70px; */
    margin: 0 auto;
}

.img-details{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-details img{
    height: 50px;
}



/* 
@media screen and (max-width: 768px) {
    body {
        
    }
} */