
#perfil{
    /* height: 1000px; */
    /* border: 1px solid black; */
    /* background-color: #FFC0D7; */
    /* box-shadow: 0px 0px 4px #ff7ead; */
    padding: 50px 0px;
}

#bea-img{
    width: 300px;
    /* margin-top: 50px; */
}

.titulos{
    font-size: 30px;
    margin-bottom: 20px;
    color: #FFAECC;
    align-self: flex-start;
}

.paragrafos{
    margin-right: 50px;
    /* color: white; */
}

.container-perfil{
    display: flex;
    flex-direction: column;
    margin-top: 1000px;
    margin: 50px;
}

.btn-curriculo{
    margin-top: 50px;
    padding: 6px 50px;
    align-self: flex-start;
    background-color: #1c1b1b;
    color: #fff;
    box-shadow: 0px 3px 1px rgba(187, 145, 220, 1);
}

.btn-curriculo:hover{
    cursor: pointer;
    background-color: #ff7ead;
    color: #1c1b1b;
}

#barra{
    width: 100%;
    height: 8px;
    background: linear-gradient(to left, rgba(255, 192, 215, 1), rgba(180, 35, 255, 1),
            rgba(187, 145, 220, 1), rgba(255, 192, 215, 1))
}

.container-perfil-itens{
    display: flex;
    margin-bottom: 20px;
}

.container-perfil-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* O que faco */

.container-o-que-faco{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 50px;
}

/* Habilidades */

.container-habilidades{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 50px;
}

.container-habilidades-itens img{
    height: 90px;
    margin-right: 20px;
    margin-top: 20px;
    /* filter: drop-shadow(0px 0px 10px white); */
}