
#Perfil{
    /* border: 1px solid black; */
    height: 1000px;
}

#bea-img{
    width: 300px;
}

.titulos{
    font-size: 30px;
    margin-bottom: 20px;
    color: #FFAECC;
    align-self: flex-start;
}

.paragrafos{
    margin-right: 50px;
}

.container-perfil{
    display: flex;
    flex-direction: column;

    margin: 50px;
}

#barra{
    width: 100%;
    height: 8px;
    background: linear-gradient(to left, rgba(255, 192, 215, 1), rgba(180, 35, 255, 1),
            rgba(187, 145, 220, 1), rgba(255, 192, 215, 1))
}

.container-perfil-itens{
    display: flex;
    margin-bottom: 20px;
}

.container-perfil-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* O que faco */

.container-o-que-faco{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 50px;
}

/* Habilidades */

.container-habilidades{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 50px;
}

.container-habilidades-itens img{
    height: 90px;
    margin-right: 20px;
    margin-top: 20px;
}