#title-bea {
    font-family: 'Jomhuria', serif;
    color: #fa9fc1;
    font-size: 45px;
    padding-top: 5px;
}

.header{
    background-color: white;
    box-shadow: 0px 2px 2px #d478cb65;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    /* padding: 20px; */

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul{
    display: flex;
}

.navbar-link{
    padding: 20px;
}